<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iss.workshop.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".loadingRetrievedQtyUpdate"></activity>
        <activity android:name=".LoadingRequestSubmission" />
        <activity android:name=".loadingforacknowledgement" />
        <activity android:name=".loadingforrejectrequest" />
        <activity android:name=".loadingforapproverequest" />
        <activity android:name=".ViewRequestDetails" />
        <activity android:name=".ViewPendingRequests" />
        <activity android:name=".ClerkHomepage" />
        <activity android:name=".DepartmentHeadHomepage" />
        <activity android:name=".EmployeeHomepage" />
        <activity android:name=".DepartmentRepHomepage" />
        <activity android:name=".SubmitRequest" />
        <activity android:name=".ClerkRetrieval" />
        <activity android:name=".RetrievalDetails" />
        <activity android:name=".DisbursementListSelectDate" />
        <activity android:name=".EmployeeDisbursementDetail" />
        <activity android:name=".EmployeeDisbursementList" />
        <activity android:name=".ClerkDisbursementDetail" />
        <activity android:name=".ClerkDisbursementList" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>